.main-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    z-index: 9999;
}

.wrapper .page {
    flex-grow: 1;
}